.gif .thumbnail  {
    padding: 2px;
}

.gif .gif-name {
    cursor: pointer;
}

.gif .thumbnail img {
    width: 100%;
    height: 120px;
    border-radius: 4px;
}

.gif .thumbnail .caption {
    position: absolute;
    width: 80%;
    height: 120px;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}

.gif .thumbnail .caption h3 {
    margin-top: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 3px -2px 1px rgba(0, 0, 0, 1);
}

.gif .thumbnail .caption .btn-group {
    opacity: 0;
}

.gif .thumbnail:hover .caption .btn-group {
    opacity: 0.80;
}

.gif .thumbnail .caption .btn-group button:nth-child(2) {
    width: 50px;
}

@media (min-width: 800px) {
    .gif .thumbnail img {
        height: 180px;
    }
    .gif .thumbnail .caption {
        width: 85%;
        height: 180px;
    }
}

@media (min-width: 1000px) {
    .gif .thumbnail img {
        height: 200px;
    }
    .gif .thumbnail .caption {
        width: 90%;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .gif .thumbnail img {
        height: 280px;
    }
    .gif .thumbnail .caption {
        width: 90%;
        height: 280px;
    }
}